@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Anek Latin';
    @apply text-slate-600;
  }
  *::-webkit-scrollbar {
    display: none;
  }
  body {
    @apply bg-slate-300;
  }
}
@layer utilities {
  .btn:active:hover,
  .btn:active:focus {
    transform: none;
  }
}
